
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/manager"><img class="icon" src="images/logoJScrum.png"></img></a>
          
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#/manager">Inicio</a></li>
            <li>  <a href="javascript:void(0)" ng-click="isReplyFormOpen = !isReplyFormOpen">Perfil</a></li>
            <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/">Ayuda</a></li>
	            <li><a href="#/">Acerca de</a></li>
	            <li><a href="#/" ng-click="removeItem()">Salir</a></li>
	          </ul>
	        </li>
	        <!--<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/">Ayuda</a></li>
	            <li><a href="#/">Acerca de</a></li>
	          </ul>
	        </li>-->
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
    <section class="div-perfil" ng-show="isReplyFormOpen" >
        <figure style="background-image:url(images/{{ data.foto }})">

        </figure>
        <p>{{ data.nombre }} - {{ data.rol }}</p>
        <span>{{ data.email }}</span> 
    </section>

<br>
    <div class="container">

        <span class="text-primary titulo-equipo">Equipos</span> 
            <div class="btn-plus" ng-click="mostrarInsertarEquipo()">+</div>
        <div class="row row-equipo">

            <div class="col-md-4">

      
                <div class="well card-proyecto card-proyecto" ng-repeat="equipo in equipos">
                     <button class="btn btn-success btn-m-pro" ng-click="listarProyectos(equipo)" >Proyectos</button>
                     <button class="btn btn-success" ng-click="mostrarMiembros(equipo)" >Miembros</button>
                    <span class="nombre-equipo">{{ equipo.nombre }}</span> 
                    <p>
                         <span class="glyphicon glyphicon-time"></span> 
                         <span class="text-default">Horas de Trabajo :</span>    
                         <span>{{ equipo.jornada }}</span>
                    </p>
                </div>
                
            </div>

            <div class="col-md-6">
                    <blockquote ng-show="nombreEquipo">
                    {{ equipoProyecto.nombre }}
                    <button class="btn btn-info" ng-click="mostrarInsertarProyecto(equipoProyecto)">Insertar Proyecto</button>
                    </blockquote>
                    


                <div class="well cardPro" ng-click="verProyecto(proyecto)" ng-repeat=" proyecto in responseProyecto">
                    <span class="nombre-proyecto">{{ proyecto.nombre }}</span><br>
                    <p>{{proyecto.descripcion}}</p>
                    <p> <span class="objetivo">Objetivo :</span> {{ proyecto.objetivo }}</p>
                    <p class="fecha-estado"> <span class="glyphicon glyphicon-calendar"></span><span class="proyecto-fecha">{{ proyecto.fecha }}</span> <span class="estado">Estado</span> <span>{{ proyecto.estado}}</span></p>
                </div>

            </div>

        </div>
    </div>
</div>

<div ng-include="'pages/manager/modal-insertar.html'"></div>
<div ng-include="'pages/manager/modal-insertar-equipo.html'"></div>
<div ng-include="'pages/manager/modal-miembro.html'"></div>