<section class="animated slideInDown">

	<div class="container">
		<center><h2>Ingresar Datos Iniciales</h2></center>
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-center text-success">Datos</h3>

				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex1">...</span></p>
					</div>
					<div class="col-md-6">							
						<input type="text" ng-model="num1" class="form-control" placeholder="" >
					</div>
				</div>
			 	<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex2">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num2" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex3">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num3" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex4">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num4" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex5">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num5" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex6">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num6" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex7">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num7" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex8">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num8" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex9">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num9" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex10">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num10" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex11">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num11" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex12">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num12" class="form-control"  placeholder="" >
					</div>
				</div>
				<div class="row content-input">
					<div class="col-md-1">
						<p><span id="mykatex13">...</span></p>
					</div>
					<div class="col-md-6">
						<input type="text" ng-model="num13" class="form-control"  placeholder="" >
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-offset-5">
						<button class="btn btn-info" ng-click="divi()">Calcular</button>
					</div>
				</div>
			</div>

			<!-- Resultado de fórmulas -->

			<div class="col-md-6">
				<h3 class="text-center text-info">Fórmulas y cálculos</h3>
				<span>{{ num1 }} / {{ num2 }} = {{ result }}</span>
				<h4 class="text-center text-danger">Determinación de las cargas</h4>
			</div>
		</div>
		<center><a href="#form2" class="btn btn-info button">Siguiente</a></center>
	</div>
</section> 
