<section>

    <div class="container container-registro">
        <div class="col-md-4 col-md-offset-2">
            <h3 class="text-success">Registro de Usuario</h3>
                <!--nombre-->
                <form name="frmUser" ng-submit="registrar(user)">
                    <div class="form-group">
                        <label for="nombreInput">Nombre</label>
                        <input type="text" class="form-control" ng-model="user.name" id="nombreInput" placeholder="Nombre" requiered>
                    </div>
                    <!--apellido-->
                    <div class="form-group">
                        <label for="apeInput">Apellido</label>
                        <input type="text" class="form-control" ng-model="user.lastname" id="apeInput" placeholder="Apellido" required>
                    </div>
                    <!--email-->
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" ng-model="user.email" id="emailInput" placeholder="Email" required>
                    </div>
                    <!--user-->
                    <div class="form-group">
                        <label for="userNick">Usuario</label>
                        <input type="text" class="form-control" ng-model="user.nick" id="userNick" placeholder="Nombre de Usuario" required>
                    </div>
                    <!--pass-->
                    <div class="form-group">
                        <label for="passInput">Contraseña</label>
                        <input type="password" class="form-control" ng-model="user.password" id="passInput" placeholder="Contraseña" required>
                    </div>
                    <!--profession-->
                    <div class="form-group">
                        <label for="proInput">Profesion</label>
                        <input type="text" class="form-control" ng-model="user.profession" id="proInput" placeholder="Profesion" required>
                    </div>


                    <button type="submit" class="btn btn-success btn-block" >Registrar</button>

                    <img class="img-loading" ng-show="user.visible" src="images/loading-circle.gif" alt="">
                    <h3 class="text-center text-success"> {{ user.respuesta }} </h3>

                </form>

                

        </div>
        <div class="col-md-4">
            <h3 class="text-info text-center"><b>Scrum</b>, marco de Desarrollo Agil </h3>
            
        </div>
    </div>

</section>