
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/"><img class="icon" src="images/logoJScrum.png"></img></a>
          
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#/manager">Inicio</a></li>
            <li>  <a href="javascript:void(0)" ng-click="isReplyFormOpen = !isReplyFormOpen">Perfil</a></li>
            <li><a href="#/manager/salir">Salir</a></li>
	        <!--<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/">Ayuda</a></li>
	            <li><a href="#/">Acerca de</a></li>
	          </ul>
	        </li>-->
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
    <section class="div-perfil" ng-show="isReplyFormOpen" >
        <figure style="background-image:url(images/{{ data.foto }})">

        </figure>
        <p>{{ data.nombre }} - {{ data.rol }}</p>
        <span>{{ data.email }}</span> 
    </section>
     <div class="container">
                <div class="well" >
                    <span class="nombre-proyecto">{{ proyecto.nombre }}</span><br>
                    <p>{{proyecto.descripcion}}</p>
                    <p> <span class="objetivo"><b>Objetivo:</b></span> {{ proyecto.objetivo }}</p>
                    <p class="fecha-estado"><b>Fecha:</b> <span class="glyphicon glyphicon-calendar"></span>{{ proyecto.fecha }}</p>
                    <p><span class="proyecto-fecha"></span> <span class="estado"><b>Estado:</b></span> <span></span>{{ proyecto.estado}}</p>
                </div>

   
        <div class="row">
            <span class="text-primary text-backlog">Backlog</span>
            <div class="btn-plus" ng-click="mostrarInsertarPila()">+</div>
            <div class="col-md-12">
             <p class="no-historia" ng-show="verpila2">No existen Historias</p>   
            <table class="table table-striped table-hover table-pila" ng-show="verPila">
            <thead>
                <tr>
                    <th class="text-success">Codigo</th>
                    <th class="text-success">Horas Estimadas</th>
                    <th class="text-success">Historia</th>
                    <th class="text-success">Importancia</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pila in pilas  ">
                    <td>{{ pila.codigo }}</td>
                    <td>{{ pila.estimado_horas }}</td>
                    <td>{{ pila.historia }}</td>
                    <td>{{ pila.importancia }}</td>
                </tr>
            </tbody>
             </table> 
            </div>
        </div>
    </div>            

<div ng-include="'pages/manager/proyecto/modal-insertar-pila.html'"></div>

