
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/manager"><img class="icon" src="images/logoJScrum.png"></img></a>
          
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#/manager">Inicio</a></li>
            <li>  <a href="javascript:void(0)" ng-click="isReplyFormOpen = !isReplyFormOpen">Perfil</a></li>
            <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/help/manager">Ayuda</a></li>
	            <li><a href="#/about/manager">Acerca de</a></li>
	            <li><a href="#/" ng-click="removeItem()">Salir</a></li>
	          </ul>
	        </li>
	        <!--<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/">Ayuda</a></li>
	            <li><a href="#/">Acerca de</a></li>
	          </ul>
	        </li>-->
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
    <section class="div-perfil" ng-show="isReplyFormOpen" >
        <figure style="background-image:url(images/{{ data.foto }})">

        </figure>
        <p>{{ data.nombre }} - {{ data.rol }}</p>
        <span>{{ data.email }}</span> 
    </section>
     <div class="container">
                <div class="well" >
                    <span class="nombre-proyecto">{{ proyecto.nombre }}</span><br>
                    <p>{{proyecto.descripcion}}</p>
                    <p> <span class="objetivo"><b>Objetivo:</b></span> {{ proyecto.objetivo }}</p>
                    <p class="fecha-estado"><b>Fecha:</b> <span class="glyphicon glyphicon-calendar"></span>{{ proyecto.fecha }}</p>
                    <p><span class="proyecto-fecha"></span> <span class="estado"><b>Estado:</b></span> <span></span>{{ proyecto.estado}}</p>
                    
                </div>

   
        <div class="row">
            <span class="text-primary text-backlog">Backlog</span>
            <div class="btn-plus" ng-click="mostrarInsertarPila()">+</div>
            <div class="col-md-12">
             <p class="no-historia" ng-show="verpila2">No existen Historias</p>   
            <table class="table table-striped table-hover table-pila" ng-show="verPila">
            <thead>
                <tr>
                    <th class="text-success">ID</th>
                    <th class="text-success">Código</th>
                    <th class="text-success">Horas Estimadas</th>
                    <th class="text-success">Historia</th>
                    <th class="text-success">Importancia</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pila in pilas  ">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ pila.codigo }}</td>
                    <td>{{ pila.estimado_horas }}</td>
                    <td>{{ pila.historia }}</td>
                    <td>{{ pila.importancia }}</td>
                </tr>
            </tbody>
             </table> 
            </div>
        </div>

        <!--sprints-->
    </div>   

    <div class="container container-sprint">
      <div class="row">
        <div class="col-md-4">
          <span class="text-sprint text-primary">Sprint</span>
          <div class="btn-plus" ng-click="mostrarInsertarSprint()">+</div>
          <br><br>
          
          <!--card-sprint-->
           <p class="no-historia" ng-show="verSprint2">No existen Sprints</p>
          <div class="well cardPro" ng-show="verSprint" ng-repeat="sprint in sprints" >
            <section ng-click="listarProyectoSprint(sprint)">
               <span class="text-codigo"><b>Código:</b>&nbsp;{{ sprint.codigo }}</span>
              <span class="text-e-horas"><b>Horas Estimadas:</b>&nbsp;{{ sprint.total_horas }}</span>
              <br>
              <span class="text-fecha-ini"><b>Comienzo de Sprint:</b>&nbsp;{{ sprint.fecha_inicio }}</span>
              <br>
              <span class="text-fecha-fin"><b>Fecha de Entrega:</b>&nbsp;{{ sprint.fecha_entrega }}</span>
              <center>
                <span class="estado-sprint"><b>Estado:</b> &nbsp;{{ sprint.estado }}</span>
              </center>
            </section>
            <button class="btn btn-block btn-info" ng-click="verAvance(sprint)">Ver Avance</button>
              
          </div>

          

        </div>
        <div class="col-md-8">
          <span class="text-sprint text-primary animated fadeInLeft">Insertar Historias</span><div class="btn-plus" ng-click="mostrarinsertarProyectoSprint()">+</div> 
          
          <p class="no-historia animated jello" ng-show="verProSpri3">Datos </p>
          <p class="no-historia animated jello" ng-show="verProSpri2">No Existe Datos</p>
          <div ng-show="verProSpri">
            
             
           <h3 class="text-danger animated zoomIn" ng-show="historiaInsert">Error al insertar Historia</h3>
          <table class="table table-striped animated zoomIn table-hover table-pila" >
            <thead>
                <tr>
                    <th class="text-success">ID</th>
                    <th class="text-success">Código</th>
                    <th class="text-success">Historia</th>
                    <th class="text-success">Importancia</th>
                    <th class="text-success">Estimado Horas</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="verProSpri" ng-repeat="proSpri in listaProyectoSprint">
                    <td>{{ proSpri.indice }}</td>
                    <td>{{ proSpri.codigo }}</td>
                    <td>{{ proSpri.historia}}</td>
                    <td>{{ proSpri.importancia }}</td>
                    <td>{{ proSpri.estimado_horas  }}</td>
                </tr>
                
            </tbody>
          </table> 
          </div>
        </div>
      </div>
    </div>



<div ng-include="'pages/manager/proyecto/modal-insertar-pila.html'"></div>
<div ng-include="'pages/manager/proyecto/modal-insertar-sprint.html'"></div>
<div ng-include="'pages/manager/proyecto/modal-insertar-proyecto-sprint.html'"></div>

